// -----------------------------
// Bootstrap variable overrides
// -----------------------------

//end bootstrap variable overrides
@import 'bootstrap';

// size of images
.feedImg{
  max-height:100px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.flex-item {
  padding: 10px;
}
.chat-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.chat-messages {
  flex: 3;
  overflow-y: auto;
}

ul, ul.panel-body {
  margin: 0;
  padding: 0;
}

.odd {
  background: #eee;
}

.message-row {
  list-style-type: none;
  padding: 4px 12px;
  display: flex;
}

.message-row img {
  padding-right: 1em;
  /* flex: auto; */
  border-radius: 15px;
}

.message-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid grey;
}

.message-row p {
  /* flex: auto; */
}

.me {
  /* justify-content: flex-end; */
  flex-direction: row-reverse;      }

.me img{
  padding-right: 0;
  padding-left: 1em;
}

.me p {
  text-align: right;
}

.message-username {
  font-weight: bold;
}

.message-message {
  display: block;
}

.message-username + .timestamp {
  padding-left: 8px;
}

.timestamp {
  font-style: italic;
  /*        display: block; */
}

// navbar background color
.navbar {
  background-color: #008cba;
}

// when hovering over nav buttons
.nav li:hover {
  background-color: #025a77;
}

// overall background color
.ember-application {
  background-color: #d4f2fc;
}

// changes News Cruise title to white
.navbar-header a.navbar-brand {
  color: white;
}

// keeps News Cruise title white while hovering
.navbar-header a.navbar-brand:hover {
  color: white;
}

// Change nav bar button text color
.nav.navbar-nav li a {
  color: white;
}

// Keeps navbar text color white while hovering
.nav.navbar-nav li a:hover {
  color: white;
}

// Keeps navbar text color white after selected
.nav.navbar-nav li a:enabled {
  color: white;
}
//#1e7896
