<!-- Main economics template to display each article in a economics category -->
<div class="panel panel-default">
  <ul class="list-group">
    {{#each model as |economics|}}
      <li class="list-group-item">

        {{#link-to 'article' economics.name}}
          <div class="flex-container">

            <div class="flex-item">
              <img class="feedImg" src= {{economics.urlToImage}}>
            </div>
            <div class="flex-item">
              <h3>{{economics.title}} - {{economics.author}}</h3>
              <br> Upvotes: {{economics.upVotes}}
            </div>

          </div>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
