<!-- Main buzzfeed template to display each article in a buzzfeed category -->
<div class="panel panel-default">
  <ul class="list-group">
    {{#each model as |buzzfeed|}}
      <li class="list-group-item">

        {{#link-to 'article' buzzfeed.name}}
          <div class="flex-container">

            <div class="flex-item">
              <img class="feedImg" src= {{buzzfeed.urlToImage}}>
            </div>
            <div class="flex-item">
              <h3>{{buzzfeed.title}} - {{buzzfeed.author}}</h3>
              <br> Upvotes: {{buzzfeed.upVotes}}
            </div>

          </div>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
